<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Apresentacao.Properties.Settings.sysConnectionString"
            connectionString="Data Source=estagio.database.windows.net;Initial Catalog=sys;Persist Security Info=True;User ID=lucas"
            providerName="System.Data.SqlClient" />
        <add name="Apresentacao.Properties.Settings.sysConnectionString1"
             
            connectionString="Data Source=LUCAS;Initial Catalog=sys;User ID=lucas;Password=Abaca*11"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
<!--connectionString="Data Source=LUCAS;Initial Catalog=sys;User ID=lucas;Password=Abaca*11"-->
